/* screen - add-category */

.add-category {
  align-items: flex-start;
  background-color: var(--eerie-black);
  cursor: pointer;
  display: flex;
  height: 534px;
  padding: 24px 26px;
  width: 681px;
}

#overlay-add-category {
  background-color: var(--eerie-black);
}

.overlay .add-category {
  background-color: #00000000;
}

#overlay-add-category .add-category {
  left: 397px;
  top: 144.0px;
}

#overlay-add-category .container-center-horizontal {
  justify-content: normal;
}

.add-category .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 1px;
  min-height: 485px;
  padding: 7px 42px;
  width: 624px;
}

.add-category .add-category-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 2px;
  margin-top: 10px;
  min-height: 31px;
  white-space: nowrap;
}

.add-category .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.5px solid var(--dove-gray);
  border-radius: 10px;
  display: flex;
  height: 116px;
  margin-left: 2px;
  margin-top: 5px;
  min-width: 129px;
  padding: 39.2px 47.5px;
}

.add-category .plus-svgrepo-com-1 {
  background-image: url(../img/path-75-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 34px;
  width: 34px;
}

.add-category .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--snow-flurry);
  border-radius: 8px;
  display: flex;
  height: 243px;
  margin-top: 20px;
  min-width: 539px;
  padding: 11px 17px;
}

.add-category .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  min-height: 130px;
  width: 99px;
}

.add-category .product-name {
  letter-spacing: 0;
  line-height: 13px;
  margin-right: 3px;
  min-height: 21px;
  min-width: 96px;
  white-space: nowrap;
}

.add-category .product-image {
  letter-spacing: 0;
  line-height: 13px;
  margin-top: 35px;
  min-height: 21px;
  min-width: 99px;
  white-space: nowrap;
}

.add-category .description {
  letter-spacing: 0;
  line-height: 13px;
  margin-right: 2px;
  margin-top: 32px;
  min-height: 21px;
  min-width: 76px;
  white-space: nowrap;
}

.add-category .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 212px;
  width: 360px;
}

.add-category .rectangle-2108 {
  background-color: var(--white);
  border-radius: 8px;
  height: 34px;
  width: 360px;
}

.add-category .overlap-group5 {
  background-color: var(--white);
  border-radius: 8px;
  height: 34px;
  margin-top: 22px;
  position: relative;
  width: 360px;
}

.add-category .rectangle-2111 {
  background-color: #6abdee;
  border-radius: 4px;
  height: 22px;
  left: 261px;
  position: absolute;
  top: 6px;
  width: 88px;
}

.add-category .upload {
  left: 280px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.add-category .rectangle-2110 {
  background-color: var(--white);
  border-radius: 8px;
  height: 103px;
  margin-top: 19px;
  width: 360px;
}

.add-category .overlap-group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 67.0px;
  margin-top: 6px;
  min-width: 289px;
}

.add-category .overlap-group3 {
  align-items: flex-end;
  background-color: var(--quill-gray);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 128px;
  padding: 4px 41px;
}

.add-category .close {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 23px;
  min-width: 44px;
  white-space: nowrap;
}

.add-category .overlap-group1 {
  align-items: flex-end;
  background-color: var(--fern-green);
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 33px;
  min-width: 128px;
  padding: 4px 47px;
}

.add-category .add {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 23px;
  min-width: 33px;
  white-space: nowrap;
}
