/* screen - sub-category-list */

.sub-category-list {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  height: 1722px;
  overflow: hidden;
  width: 1366px;
}

.sub-category-list .overlap-group8 {
  height: 1763px;
  margin-left: -16px;
  margin-top: -38px;
  position: relative;
  width: 1385px;
}

.sub-category-list .overlap-group1 {
  height: 1763px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1385px;
}

.sub-category-list .rectangle-2 {
  background-color: var(--cararra);
  height: 1632px;
  left: 15px;
  position: absolute;
  top: 131px;
  width: 292px;
}

.sub-category-list .x18 {
  height: 272px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 1439px;
  width: 272px;
}

.sub-category-list .rectangle-1 {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 90px;
  left: 16px;
  position: absolute;
  top: 38px;
  width: 1369px;
}

.sub-category-list .leaf1 {
  height: 181px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 177px;
}

.sub-category-list .rectangle-3 {
  background-color: var(--white);
  border-radius: 12px;
  height: 45px;
  left: 26px;
  position: absolute;
  top: 171px;
  width: 273px;
}

.sub-category-list .rectangle-5 {
  background-color: var(--mantis);
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  height: 104px;
  left: 26px;
  position: absolute;
  top: 321px;
  width: 273px;
}

.sub-category-list .rectangle-6 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  height: 46px;
  left: 26px;
  position: absolute;
  top: 440px;
  width: 273px;
}

.sub-category-list .rectangle-7 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  height: 47px;
  left: 26px;
  position: absolute;
  top: 515px;
  width: 273px;
}

.sub-category-list .rectangle-8 {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  height: 52px;
  left: 26px;
  position: absolute;
  top: 591px;
  width: 273px;
}

.sub-category-list .dashboard {
  left: 90px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 186px;
  white-space: nowrap;
}

.sub-category-list .welcome {
  left: 1241px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.sub-category-list .administrator {
  left: 1241px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 92px;
  white-space: nowrap;
}

.sub-category-list .category-management {
  left: 72px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 336px;
  white-space: nowrap;
}

.sub-category-list .product-management {
  left: 71px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 454px;
  white-space: nowrap;
}

.sub-category-list .order-management {
  left: 72px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 530px;
  white-space: nowrap;
}

.sub-category-list .manage-notifications {
  left: 75px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 608px;
  white-space: nowrap;
}

.sub-category-list .admin-panel {
  left: 628px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 73px;
  white-space: nowrap;
}

.sub-category-list .x4 {
  height: 85px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1287px;
  width: 82px;
}

.sub-category-list .x4-1 {
  height: 63px;
  left: 214px;
  object-fit: cover;
  position: absolute;
  top: 1073px;
  width: 61px;
}

.sub-category-list .x4-2 {
  height: 63px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 877px;
  width: 61px;
}

.sub-category-list .leaf1-1 {
  height: 181px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 663px;
  width: 177px;
}

.sub-category-list .leaf2 {
  height: 204px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1098px;
  width: 197px;
}

.sub-category-list .untitled-design {
  height: 167px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 167px;
}

.sub-category-list .laptop-svgrepo-com {
  height: 20px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 29px;
}

.sub-category-list .group-35 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 45px;
  left: 26px;
  min-width: 273px;
  padding: 3.5px 50px;
  position: absolute;
  top: 246px;
}

.sub-category-list .user-management {
  letter-spacing: 0;
  line-height: 17px;
  min-height: 26px;
  min-width: 161px;
  white-space: nowrap;
}

.sub-category-list .users-silhouettes-svgrepo-com {
  height: 22px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 257px;
  width: 29px;
}

.sub-category-list .category-alt-svgrepo-com {
  height: 18px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 336px;
  width: 18px;
}

.sub-category-list .sell-product-svgrepo-com {
  height: 22px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 452px;
  width: 23px;
}

.sub-category-list .menu-order-svgrepo-com {
  height: 19px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 531px;
  width: 19px;
}

.sub-category-list .notification-svgrepo-com {
  height: 19px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 609px;
  width: 17px;
}

.sub-category-list .parent-categories {
  cursor: pointer;
  left: 107px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 368px;
  white-space: nowrap;
}

.sub-category-list .sub-categories {
  left: 107px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 398px;
  white-space: nowrap;
}

.sub-category-list .enter-arrow-svgrepo-com {
  height: 10px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 370px;
  width: 16px;
}

.sub-category-list .enter-arrow-svgrepo-com-1 {
  height: 10px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 400px;
  width: 16px;
}

.sub-category-list .line-1 {
  height: 1617px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 143px;
  width: 1px;
}

.sub-category-list .overlap-group-1 {
  align-items: center;
  background-image: url(../img/rectangle-9-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  left: 348px;
  min-height: 769px;
  padding: 45px 0;
  position: absolute;
  top: 192px;
  width: 993px;
}

.sub-category-list .flex-row {
  align-items: flex-end;
  display: flex;
  height: 64px;
  margin-left: 4.0px;
  min-width: 953px;
}

.sub-category-list .sub-category-list-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 30px;
  min-height: 45px;
  min-width: 268px;
  white-space: nowrap;
}

.sub-category-list .search {
  color: var(--cape-cod);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 8.5px;
  margin-left: 97px;
  min-height: 27px;
  min-width: 66px;
  white-space: nowrap;
}

.sub-category-list .rectangle-2112 {
  background-color: var(--white);
  border-radius: 11px;
  box-shadow: 0px 3px 6px #00000029;
  height: 54px;
  margin-bottom: 2.0px;
  margin-left: 16px;
  width: 273px;
}

.sub-category-list .group-39 {
  align-items: flex-end;
  background-color: #2d6f9b;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: space-between;
  margin-left: 33px;
  width: 200px;
}

.sub-category-list .plus-svgrepo-com-1 {
  background-image: url(../img/path-75-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14.4px;
  margin-bottom: -6.8px;
  margin-left: 9px;
  width: 14.4px;
}

.sub-category-list .add-sub-category {
  height: 26px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -8.2px;
  margin-right: 11px;
  white-space: nowrap;
  width: 159px;
}

.sub-category-list .overlap-group4 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 55px;
  margin-top: 25px;
  min-width: 993px;
  padding: 7.5px 35px;
}

.sub-category-list .text-3 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 27px;
  min-width: 18px;
  white-space: nowrap;
}

.sub-category-list .product-category {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 31px;
  min-height: 27px;
  min-width: 188px;
  white-space: nowrap;
}

.sub-category-list .sub-product-name {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 36px;
  min-height: 27px;
  min-width: 188px;
  white-space: nowrap;
}

.sub-category-list .parent-product {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 27px;
  min-height: 27px;
  min-width: 159px;
  white-space: nowrap;
}

.sub-category-list .cart-id {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2.0px;
  margin-left: 32px;
  min-height: 27px;
  min-width: 72px;
  white-space: nowrap;
}

.sub-category-list .action {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2.0px;
  margin-left: 87px;
  min-height: 27px;
  min-width: 70px;
  white-space: nowrap;
}

.sub-category-list .overlap-group5 {
  height: 98px;
  margin-top: 7px;
  position: relative;
  width: 993px;
}

.sub-category-list .rectangle-11 {
  background-color: #fffefe;
  box-shadow: 0px 3px 6px #00000029;
  cursor: pointer;
  height: 98px;
  left: 0;
  position: absolute;
  top: 0;
  width: 993px;
}

.sub-category-list .number-1 {
  left: 38px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.sub-category-list .number-2 {
  left: 744px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.sub-category-list .poovan {
  left: 311px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.sub-category-list .fruits {
  left: 92px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.sub-category-list .place {
  left: 545px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.sub-category-list .text-edit-2 {
  cursor: pointer;
  height: 24px;
  left: 883px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 19px;
}

.sub-category-list .bin-svgrepo-com-1 {
  height: 24px;
  left: 923px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 20px;
}

.sub-category-list .overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 98px;
  margin-top: 9px;
  min-width: 993px;
  padding: 30px 38px;
}

.sub-category-list .number {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  min-height: 27px;
  min-width: 24px;
  white-space: nowrap;
}

.sub-category-list .fruits-1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 30px;
  min-height: 27px;
  min-width: 53px;
  white-space: nowrap;
}

.sub-category-list .kashmir-apple-g1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 162px;
  min-height: 27px;
  min-width: 161px;
  white-space: nowrap;
}

.sub-category-list .apple {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 77px;
  min-height: 27px;
  min-width: 55px;
  white-space: nowrap;
}

.sub-category-list .number-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 144px;
  min-height: 27px;
  min-width: 20px;
  white-space: nowrap;
}

.sub-category-list .text-edit {
  align-self: flex-start;
  height: 24px;
  margin-left: 119px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 19px;
}

.sub-category-list .bin-svgrepo-com {
  align-self: flex-start;
  height: 24px;
  margin-left: 21px;
  object-fit: cover;
  width: 20px;
}

.sub-category-list .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 98px;
  margin-top: 10px;
  min-width: 993px;
  padding: 30px 38px;
}

.sub-category-list .fruits-2 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2.5px;
  margin-left: 31px;
  min-height: 27px;
  min-width: 53px;
  white-space: nowrap;
}

.sub-category-list .australian-orchid {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 162px;
  min-height: 27px;
  min-width: 163px;
  white-space: nowrap;
}

.sub-category-list .color {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2.5px;
  margin-left: 74px;
  min-height: 27px;
  min-width: 71px;
  white-space: nowrap;
}

.sub-category-list .number-4 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 128px;
  min-height: 27px;
  min-width: 20px;
  white-space: nowrap;
}

.sub-category-list .overlap-group6 {
  align-items: center;
  background-color: #fff9f9;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 98px;
  padding: 17px 2px;
  width: 993px;
}

.sub-category-list .path-74 {
  height: 1px;
  margin-right: 1.0px;
  object-fit: cover;
  width: 988px;
}

.sub-category-list .flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 38px;
  margin-right: 12.0px;
  margin-top: 12px;
  min-width: 905px;
}

.sub-category-list .number-5 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.0px;
  min-height: 27px;
  min-width: 25px;
  white-space: nowrap;
}

.sub-category-list .fruits-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 31px;
  min-height: 27px;
  min-width: 53px;
  white-space: nowrap;
}

.sub-category-list .sona-grapes {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.0px;
  margin-left: 161px;
  min-height: 27px;
  min-width: 119px;
  white-space: nowrap;
}

.sub-category-list .grapes {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.0px;
  margin-left: 118px;
  min-height: 27px;
  min-width: 68px;
  white-space: nowrap;
}

.sub-category-list .number-6 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.0px;
  margin-left: 131px;
  min-height: 27px;
  min-width: 24px;
  white-space: nowrap;
}

.sub-category-list .text-edit-1 {
  align-self: flex-start;
  height: 24px;
  margin-left: 115px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 19px;
}

.sub-category-list .number-7 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  min-height: 27px;
  min-width: 25px;
  white-space: nowrap;
}

.sub-category-list .vegitables {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 0.5px;
  margin-left: 31px;
  min-height: 27px;
  min-width: 100px;
  white-space: nowrap;
}

.sub-category-list .ponnakanni {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 117px;
  min-height: 27px;
  min-width: 112px;
  white-space: nowrap;
}

.sub-category-list .spinach {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 122px;
  min-height: 27px;
  min-width: 77px;
  white-space: nowrap;
}

.sub-category-list .number-8 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 1.5px;
  margin-left: 122px;
  min-height: 27px;
  min-width: 24px;
  white-space: nowrap;
}
