/*
** General Styles for HTML tags
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: $lightColor;
  background-color: $colorMain;
}

::-moz-selection {
  color: $lightColor;
  background-color: $colorMain;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  background-color: $lightColor;
  overflow: visible;
  overflow-x: hidden;
  //for scrollbar always seen
  overflow-y: scroll;
  //for scrollspy
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //text-transform: uppercase;
  font-weight: 500;
  line-height: 1em;
  word-break: break-word;
  margin-top: 0.65em;
  margin-bottom: 0.5em;
  //fix for Raleway numbers
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
h1{
  font-size: 48px;

}

h2{
  font-size: 42px;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

h3{
  font-size: 36px;
  margin-top: 1.2em;
  margin-bottom: 0.7em;

}

h4 {
  font-size: 30px;
  margin-top: 1.5em;
  margin-bottom: 0.9em;

}

h5 {
  font-size: 24px;
  margin-top: 1.9em;
  margin-bottom: 1.1em;
}

h6 {
  font-size: 20px;
  margin-top: 2.3em;
  margin-bottom: 1.4em;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.8rem
  }
  h2 {
    font-size: 1.6rem
  }
  h3 {
    font-size: 1.8rem
  }
  h4 {
    font-size: 1.3rem
  }
  h5 {
    font-size: 1.2rem
  }
  h6 {
    font-size: 1.1rem
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 0.7em;
}

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}
ul{
  li{
    padding: 5px 0 5px 0;
  }
}
ol.list2 {
  counter-reset: li;
  list-style: none outside none;
  margin-bottom: 0;
  padding: 0;
  li {
    position: relative;

    padding: 5px 0 5px 24px;
    &::before{
      content: "0" counter(li) ".";
      counter-increment: li;
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);

      font-weight: 400;
      color: $colorMain;
    }
  }
}

p:last-child {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

img, figure {
  max-width: 100%;
  height: auto;
}

figcaption {
  p {
    margin-bottom: 0;
  }
  font-size: 0.95em;
  line-height: 1.4;
  padding: 10px 0 7px;
}

b, strong {
  font-weight: 700;
}

label {
  color: $darkgreyColor;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  color: $darkgreyColor;
  &:hover {
    color: $fontColor;
    text-decoration: none;
    transition: all 0.15s linear 0s;
  }
}

blockquote {



  border: none;
  padding-left: 110px;
  position: relative;
  margin-top: 43px;
  margin-bottom: 40px;
  @media(max-width: 575px){
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &:before{
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    background: url(../img/quote.png) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    top: -3px;
    left: 10px;
    @media(max-width: 575px){
      width: 16px;
      height: 16px;
      top: 5px;
    }
  }





  .media {
    margin: 15px 0;
    img {
      max-width: 60px;
      border-radius: 50%;
    }
  }
  h5{
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: 300;
  }
  h3, h4, .text-small {
    font-style: normal;
  }

}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  outline: medium none;
  text-decoration: none;
}

a > img {
  transition: all 0.15s ease-in-out 0s;
}

a:hover > img {
  opacity: 0.8;
}

a.btn:active,
a.button:active,
button:active,
input[type="submit"]:active {
  position: relative;
  top: 1px !important;
}

hr {
  border-color: $borderColor;
  //for flexbox
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  border: none;
  max-width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  td, th {
    padding: 13px;
    line-height: 1.42857143;
    vertical-align: middle;
    border: 1px solid $borderColor;
    text-align: center;
  }
  th {
    color: $darkgreyColor;
    font-weight: normal;
    vertical-align: middle;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

pre {
  line-height: 1.5;
  background-color: $universalBackgroundColor;
  padding: 0.5em 1em;
}
//block with signature on main page
.big {
  margin: 0.45em 0 1em;
  font-size: 24px;
  line-height: 1.4em;
  @media(max-width: 575px){
    font-size: 18px;
  }
  em {
    display: inline-block;
    margin: 0.3em 0 0;
    @media (min-width:768px) {
      margin: 1em 0 0.5em;

    }
  }
}

.media {
  h3 {
    text-transform: uppercase;
  }
  .dropcap {
    margin-right: 0;
  }
}

.small-text {
  @include small-text();
  &.extra-letter-spacing {
    @media (min-width: 768px) {
      letter-spacing: 1em;
    }
  }
}