///////////////////
//theme variables//
///////////////////

//Colors

//Monochrome colors

//text color in light section (.ls)
$fontColor: #808080;
//background color for light section (.ls) and font color in dark section (.ds)
$lightColor: #ffffff;
//text color for headings in light section (.ls) and background color for dark section (.ds)
$darkgreyColor: #4c4c4c;
//background color for light grey background light section (grey - .ls.ms)
$greyColor: #f5f5f5;
//background color for dark muted section (.ds.ms)
$darkColor: #333333;
//border colors for elements in light section (.ls) (and .bordered elements)
$borderColor: #eaeaea;
//rgba variant for bordered elements
$borderColorRGBA: rgba(#000, 0.1);
//background color for hero background elements in light section (.hero-bg)
$backgroundColor: #f5f5f5;

$boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

//section specific variables

// dark section - .ds

//font color in dark section (.ds)
$darkFontColor: #fff;
//border colors in dark section (.ds)
$darkBorderColor: #454545;
//background color for elements with background (.hero-bg etc.)
$darkBackgroundColor: rgba(#fff, 0.05);

//color section - .cs

//border colors in color section (.cs)
$colorBorderColor: rgba(#fff, 0.15);
$colorBackgroundColor: rgba(#fff, 0.1);

//dark grey background dark blue section - (.ds.bs)
$darkBlueColor: #253138;
$darkBlueColorLighter: #2f3e47;

//Accent Color schemes

//this variables is used in development process
//in production color variables are overridden in 'color_schemes' folder

//theme accent colors
$styleNumber: '' !default;
$colorMain: #ed79ae !default;
$colorMain2: #00b2f0 !default;
$colorMain3: #98cb2b !default;
$colorMain4: #edb879 !default;

//////bootstrap colors
//orange - warning
$colorPrimary: $colorMain !default;
//green
$colorSuccess: #98cb2b !default;
//blue
$colorInfo: #00b2f0 !default;
//orange
$colorWarning: #edb879 !default;
//red
$colorDanger: #fb4f1b !default;

//universal muted background color
$universalBackgroundColor: rgba(150, 150, 150, 0.05) !default;
$universalBorderColor: rgba(200, 200, 200, 0.35) !default;

//Layout
//////side header
$sideHeaderWidth: 310px;
//inner side header padding
$sideHeaderLeftRightPadding: 30px;
//header transition
$headerTransition: 0.5s ease-in-out;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//_horizontal spacers
//reverse for smaller gutters has priority
$columns-horizontal-gutters-sum: 100 90 80 60 50 30 25 20 15 10 5 2 1 0;
$container-horizontal-padding: 0 1 2 5 10 17 20 30 60 100 110 120 160 200 210 220 285;

//_vertical spacers - vertical margins and padding for sections and columns
$section-vertical-padding: 0 1 2 3 5 10 11 12 15 17 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 140 145 147 150 155 157 160 165 170 180 195 200 205 210 230 250;
$columns-vertical-margins: 0 1 2 5 10 15 20 25 30 40 50 60;

//top and bottom borders height for sections with borders - 1px by default
$section-borders-height: 2 3 5;

//font size helpers - fs-xx
$font-size-helpers: 12 14 16 18 20 24 28 32 36 40 46 56;

$dividers-height: 0 10 15 20 23 25 28 30 31 40 45 48 50 55 58 60 70 76 80 90 100 110 120 150;

@mixin small-text() {
  font-size: 12px;
  line-height: 1.6em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

@mixin cover() {
  content: '';
  position: absolute;
  display: block;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin widget-title() {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1.5em;
  line-height: 1;
  @media(max-width: 575px){
    margin-bottom: 1em;
  }
}

@mixin widget-a-before() {
  font-family: "Font Awesome 5 Free", sans-serif;
  content: "\f0de";
  font-weight: 900;
  transform: rotate(90deg);
  font-size: 14px;
  color: #ed79ae;
  position: relative;
  padding-right: 15px;
  top: 7px;
  left: -7px;
  display: inline-block;
}