//color schemes
//1
$styleNumber: '';
$colorMain: #ed79ae;
$colorMain2: #00b2f0;
$colorMain3: #98cb2b;
$colorMain4: #edb879;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;