//color schemes
//3
$styleNumber: '3';
$colorMain: #98cb2b;
$colorMain2: #ed79ae;
$colorMain3: #00b2f0;
$colorMain4: #82b440;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;