/*
** Blog
*/

.blog_slider {
  margin-bottom: 60px;
  @media (min-width: 992px) {
    .intro_layers_wrapper {
      left: 130px;
      right: 130px;
    }
  }
  @media(max-width: 767px) {
    display: none;
  }
}

.blog-featured-posts {
  .post {
    height: 100%;
  }
}

//entry title on singular will be SHOWN - title will be HIDDEN in title section
.entry-title,
.entry-title:last-child {
  text-transform: none;
  margin: 0 0 0.7em;
  line-height: 1;
  font-size: 36px;
  @media(max-width: 575px){
    font-size: 26px;
    margin: 0 0 0.6em;

  }
}
.gallery-size-post-thumbnail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 12px;
}
//for blog greed and featured posts
h4.entry-title {
  font-size: 24px;
  margin-bottom: 0.7em;
}

//for masonry blog post
.masonry-layout{
  .post{
    &.gallery{
      @media(min-width: 1200px){
        .owl-carousel{
          .owl-nav{
            .owl-prev{
              right: 78%;
            }
            .owl-next{
              left: 78%;
            }
          }
        }
      }
    }

    &.cover-image{
      padding: 57px 60px 50px;
      @media (max-width: 575px){
        padding: 30px;
      }
    }
    &.format-status, &.format-aside{
      .entry-meta{
        margin-bottom: 1.8em;
        @media(max-width: 575px){
          margin-bottom: 1em;
        }
        .byline{
          width: 100%;
          justify-content: center;
          margin-top: 0;
          a{
            color: $colorMain;
          }
        }
      }
      .entry-title{
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 16px;
      }
      .entry-content{
        text-align: center;
      }
    }
    &.vertical-item{

      .embed-responsive-3by2{
        padding-bottom: 67.6%;
      }
      .item-content{
        padding: 55px 60px;
        @media (max-width: 575px){
          padding: 30px;
        }
        .entry-meta{
          justify-content: center;
          margin-bottom: 1em;
          @media(max-width: 575px){
            margin-bottom: 1em;
          }
          a{
            color: $colorMain;
          }
        }
        .entry-title{
          font-size: 24px;
          line-height: 1.2;
        }
      }
    }
  }

}



.post {
  position: relative;
  &.vertical-item{
    .item-content {
      padding: 40px 60px 60px;
      @media(min-width: 992px) and (max-width: 1200px){
        padding: 40px 60px 40px;
      }
      a{
        &:hover{
          color: $colorMain;
        }
      }
      @media(max-width: 991px){
        padding: 40px;

      }
      @media(max-width: 575px){
        padding: 30px;

      }
      h1.entry-title {
        margin-top: 5px;
      }
    }
  }

  //sticky
  & > .fa {
    position: absolute;
    right: 9px;
    top: 7px;
    color: $lightColor;
    transform: rotate(45deg);
    z-index: 2;
    &:before {
      position: relative;
      z-index: 3;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: -14px;
      left: -35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 40px;
      border-color: transparent transparent $colorMain transparent;

    }
  }

  & + & {
    margin-top: 60px;
    @media(max-width: 575px){
      margin-top: 30px;
    }
  }

  //blog feed
  h3.entry-title {
    & + .entry-meta {
      margin-top:-0.65em;
    }
  }

  //single post
  h1.entry-title {
    & + .entry-meta {
      margin:-1em 0 2em;
    }
  }

  //cover image post
  &.cover-image {
    padding: 60px 30px 60px;
    @media (max-width: 1200px) and (min-width: 992px){
      padding: 40px 60px 40px;
    }
    @media (max-width: 991px){
      padding: 60px;
    }
    @media (max-width: 768px){
      padding: 40px;
    }
    @media (max-width: 575px){
      padding: 30px;
    }

    text-align: center;
    height: auto;
    .post-thumbnail {
      display: none;
    }
  }



}
.post-thumbnail {
  text-align: center;
  .owl-dots {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
  }
  & + .entry-content {
    margin-top: 1.5em;
  }
}

//password protected
.post-password-form {
  input[type="password"] {
    margin-top: 0.5em;
    width: auto;
  }
  input[type="submit"] {
    position: relative;
    top: -2px;
  }
}


.entry-meta {
  margin-bottom: 1.6em;
  line-height: 1;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(min-width: 992px) and (max-width: 1200px){
    flex-direction: column;
  }
  .veaws{
    color: $colorMain2;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 48px;
    @media(max-width: 575px){

      margin-left: 30px;
    }
  }
  .share{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: $darkColor;
    @media (max-width: 575px){
      margin-top: 20px;
    }

    a{
      margin-right: 20px;
      font-size: 14px;
      @media(max-width: 575px){
        margin-right: 15px;

      }
    }
  }
  @media(max-width: 768px){
    flex-direction: column;
    margin-bottom: 1em;
  }
  .byline{
    display: flex;
    align-items: center;
    @media(max-width: 575px){
      align-items: center;
      justify-content: center;
    }
    .author.vcard{
      @media(min-width: 992px) and (max-width: 1199px){

        display: flex;

        align-items: center;
        justify-content: center;

        img{
          display: none;
        }
      }
      @media(max-width: 768px){
        img{
          display: none;
        }
      }
      @media(max-width: 575px){
        margin-bottom: 0;
        display: flex;

        align-items: center;
        justify-content: center;
      }
      img{
        width: 80px;
        margin-right: 25px;
        border-radius: 50%;
        @media(min-width: 992px) and (max-width: 1199px){
          margin-right: 0;
        }
        @media(max-width: 575px){
          margin-right: 0;
          margin-bottom: 10px;

        }
      }

    }
    .entry-meta-divider{
      padding: 0 13px;


    }
  }

  a {
    font-size: 12px;

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
  }
}

.entry-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media(max-width: 768px){
    flex-direction: column;
  }
  .post-likes{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $darkColor;
    @media(max-width: 768px){
      margin-top: 15px;
    }
    i{
      color: $colorMain;
      font-size: 16px;
      margin-right: 8px;
    }
  }
  .fa {
    margin-right: 10px;
  }
}

//cleaning floats
.entry-content,
.entry-header {
  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.cat-links {

  display: block;
  @media(min-width: 992px) and (max-width: 1199px){
    margin-top: 10px;
  }
  @media(max-width: 768px){
    margin-top: 10px;
  }

  span{
    line-height: 1;
    color: $colorMain2;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }
  a {
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;

    margin: 0 4px 4px 0;
    color: $darkColor;






    &:hover {
      color: $colorMain;
    }

  }
}

//edit link
.entry-footer,
.entry-header {
  .edit-link {
    float: right;
    a:before {
       font-family: "Font Awesome 5 Free", sans-serif;
      content: '\f044';
      padding-right: 0.4em;
      font-weight: 400;
    }
  }
  //for woo
  .entry-title + .edit-link {
    position: absolute;
    right: 15px;
    top: 0.5em;
  }
}

.post-adds {
  display: flex;
  background-color: $backgroundColor;
  line-height: 1;
  align-items: center;
  margin-bottom: 30px;
  i {
    width: 1em;
  }
  a {
    display: inline-block;
    margin: 0;
  }
  .dropdown-menu {
    padding: 0;
    border: none;
  }
  .share_buttons {
    display: flex;
  }
  .share_button {
    background-color: $colorMain;
    color: $lightColor;
    line-height: 60px;
    padding: 0 21px;
  }
  .like_button {
    color: $colorMain;
    line-height: 60px;
    padding: 0 21px;
    border-right: 1px solid $borderColorRGBA;
  }
  .votes_count {
    padding: 0 21px;
  }
  .views-count {
    margin-left: auto;
    padding: 22px 30px;
    background-color: $colorMain;
    color: $lightColor;
  }
  @media(max-width: 576px) {
    & {
      flex-wrap: wrap;
    }
    .share_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .like_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .views-count {
      padding: 10px 15px;
      width: 100%;
    }
  }
}

/*gallery post*/
.post {
  &.gallery {

    .owl-carousel{
      position: relative;

      .owl-nav{
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        height: 50px;
        &:after{
          content: '/';
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform:translateX(-50%);
          color: $lightColor;

        }
        div.owl-prev{

          position: absolute;
          right: 65%;
          left: auto;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
          opacity: 1;
          color: $lightColor;
          @media(min-width: 992px) and (max-width: 1199px){
            right: 72%;
          }
          @media(max-width: 768px){
            right: 72%;
          }
          @media(max-width: 480px){
            right: 86%;
          }
          &:after{
            content: 'prev';
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 18px
          }

          &:hover{
            color: $colorMain;
          }
          i{
            font-size: 16px;
            line-height: 1;
            &:before{
              content: '\f104';
            }
          }
        }
        .owl-next{
          line-height: 1;
          opacity: 1;

          color: $lightColor;
          position: absolute;
          left: 65%;
          right: auto;
          top: 50%;
          transform: translateY(-50%);
          @media(min-width: 992px) and (max-width: 1199px){
            left: 72%;
          }
          @media(max-width: 768px){
            left: 72%;
          }
          @media(max-width: 480px){
            left: 86%;
          }
          &:after{
            content: 'next';
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 9px
          }

          &:hover{
            opacity: 1;
            color: $colorMain;
          }
          i{
            font-size: 16px;
            &:before{
              content: '\f105';
            }
          }
        }
      }
    }

    .gallery-item {
      width: 50%;
      padding: 0 7px;

      figcaption {
        padding: 20px 0 5px;
      }
    }

    @media (min-width: 992px) {
      &.gallery-columns-1 .gallery-item {
        width: 100%;
      }
      &.gallery-columns-2 .gallery-item {
        width: 50%;
      }

      &.gallery-columns-3 .gallery-item {
        width: 33.33%;
      }

      &.gallery-columns-4 .gallery-item {
        width: 25%;
      }

      &.gallery-columns-5 .gallery-item {
        width: 20%;
      }

      &.gallery-columns-6 .gallery-item {
        width: 16.66%;
      }

      &.gallery-columns-7 .gallery-item {
        width: 14.28%;
      }

      &.gallery-columns-8 .gallery-item {
        width: 12.5%;
      }

      &.gallery-columns-9 .gallery-item {
        width: 11.11%;
      }
    }

  }
}

/*post author*/
.author-bio {
  margin-top: 60px;
  @media(max-width: 991px){
    margin-top: 40px;
  }
@media(max-width: 575px){
  margin-top: 40px;
}
  a.fa {
    margin-bottom: 0;
  }
  .item-media{
    border-radius: 50%;
    width: 200px;
    height: 200px;

    @media(max-width: 575px){
      margin-left: 0px;
    }
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .item-content{
    padding: 0;
    .author-social{
      display: flex;
      margin-top: 15px;
    }

    @media(max-width: 575px){
      padding: 20px 0 0;

    }
    h6{
      margin-bottom: 0.7em;
    }
  }
}

/*comments*/
.comments-title {
  margin-bottom: 35px;
  @media(max-width: 575px){
    margin-bottom: 25px;

  }
}

.comments-area {
  margin-top: 60px;
  @media(max-width: 991px){
    margin-top: 40px;
  }
  @media(max-width: 575px){
    margin-top: 40px;
  }
  .comment-list {
    list-style: none;
    padding: 0;
    ol.children {
      list-style: none;
      padding-left: 35px;
      @media(max-width: 768px){
        padding-left: 0px;
      }
      .comment-body{
        padding: 10px 20px 30px;
        @media(max-width: 768px){
          padding: 0 20px 20px;
          margin-bottom: 30px;
        }
        .comment-meta{
          img{
            max-width: 60px;
            height: 60px;
          }
        }
      }
      @media (min-width: 1200px) {
        padding-left: 110px;
      }
      ol.children ol.children {
        padding-left: 35px;
      }
    }
  }
}

.comment-body {
  position: relative;
  margin-left: 70px;
  margin-bottom: 30px;
  border-bottom: 1px solid $borderColor;
  padding: 0 30px 30px;
  @media(max-width: 768px){
    padding: 0 0 20px;
    margin-bottom: 30px;
  }
  ol,
  ol ol {
    padding-left: 20px;
  }
}

.comment-meta {
  margin-bottom: 0.9em;

  //avatar
  img {
    position: absolute;
    left: -70px;
    //top border-width
    top: -1px;
    max-width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    @media(max-width: 768px){
      position: static;
    }
  }

  .comment-author{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin-top: 5px;
    @media(max-width: 768px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .comment-metadata {
    font-size: 12px;
    text-transform: uppercase;
    color: $darkColor;
    font-weight: 500;
    line-height: 1;
    @media(max-width: 768px){
      text-align: left;
      margin-bottom: 15px;
    }
  }

  b {
    font-weight: inherit;
    @media(max-width: 768px){
      margin-top: 15px;
    }

  }
}

@media(max-width: 575px) {
  .comment-body {
    margin-left: 0;
  }

}

.reply {
  margin-top: 10px;
}

//links
.reply {
  a {
    @include small-text();
    &:hover{
      color: $colorMain;
    }
  }
}

.comment-content {
  p {
    margin-bottom: 0.5em;
  }
}

.no-comments,
.comment-awaiting-moderation {
  opacity: 0.7;
}

.comments-pagination {
  margin: 2em 0 3em;
}

/*comment respond form*/


.comments-area > .comment-respond {
  margin-top: 55px;
  @media(max-width: 991px){
    margin-top: 40px;
  }
  .comment-reply-title{
    margin-bottom: 35px;
    @media(max-width: 575px){
      margin-bottom: 30px;
    }
  }

}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  p {
    margin-bottom: 20px;
    width: 100%;
    &.form-submit {

      margin-bottom: 0;
    }
  }

  textarea,
  input {
    width: 100%;
  }
  //remember me checkbox appears with our custom designed checkbox, so hiding it
  input[type=checkbox] {
    margin: 0;
    visibility: hidden;
  }
  @media(min-width: 992px) {
    .comment-form-author,
    .comment-form-email {
      width: 50%;
    }
    .comment-form-author {
      padding-right: 20px;
    }
  }
}

/* post formats */
.format-aside{
  &.post.cover-image {
    padding: 35px 30px 30px;
    text-align: center;
    height: auto;
  }
  @media (min-width: 992px){
    &.post.cover-image {
      padding: 40px 60px 60px;
    }
  }

.entry-meta{

  @media(min-width: 991px) and (max-width: 1200px){
    margin-bottom: 1.6em;
  }
  @media(max-width: 768px){
    margin-bottom: 1em;

  }
}
}
.format-status {
  .avatar {
    display: block;
    max-width: 80px;
    border-radius: 50%;
    margin: 0 auto 35px;
    @media(max-width: 575px){
      margin-bottom: 20px;

    }
  }
  .entry-title {
    margin-bottom: 25px;
    @media(max-width: 575px){
      font-size: 26px;
      margin: 0 0 0.4em;

    }
  }
  .cat-links {
    margin-bottom: 5px;
  }
  &.post .entry-title + .entry-meta {
    margin:0 0 25px;
  }
  .entry-date {
    margin-top: -7px;
  }

  .entry-meta{
    margin-bottom: 0;
    @media (max-width: 1200px) and (min-width: 320px){
      margin-bottom: 0;
    }
    .byline{
      justify-content: space-between;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      @media(min-width: 991px) and (max-width: 1200px){
        width: 60%;
      }
      @media(max-width: 768px){
        width: 50%;
      }
      @media(max-width: 575px){
        margin-top: 15px;
        width: 100%;

      }
      .author.vcard{
        a{
          color: $colorMain2;
        }
      }
    }

  }
}

.format-chat {
  .entry-content {
    p {
      margin-bottom: 0.5em;
    }
    p:nth-child(2n) {
      background-color: $universalBackgroundColor;
      padding: 0.4em 1.2em;
    }
  }
}

.format-quote {
  text-align: center;
  &.cover-image {
    .entry-header > i {
      display: inline-block;
      font-size: 2em;
      margin-bottom: 0.7em;
    }
  }
  .quote-image{
    margin-top: 15px;
    img{
      width: 80px;
    }
  }
  &.vertical-item{
    .item-content{
      padding: 60px;
      @media (max-width: 1200px) and (min-width: 992px){
        padding: 40px 60px 40px;
      }
      @media(max-width: 991px){
        padding: 40px;
      }
      @media(max-width: 575px){
        padding: 30px;
      }
    }
  }

  blockquote {
    border: none;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 20px;

    h5{
      margin-top: 0.3em;
      font-size: 20px;
    }
    &:before, &:after{
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      background: url(../img/quote.png) no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      top: 2px;
    }

    &:before{
      left: -35px;
      @media(max-width: 575px){
        left: -30px;
      }
    }

    &:after{
      transform: rotate(-180deg);
      right: -35px;
      @media(max-width: 575px){
        right: -30px;
      }
    }
    cite {
      display: block;
      font-style: normal;
      margin: 24px 0 0;
      font-size: 16px;
      line-height: 1.5;
      @include small-text();
    }
  }
}

.single-post{
  &.vertical-item{
    .entry-meta{
      align-items: flex-start;
      flex-direction: row;
      @media (max-width: 575px){
        flex-direction: column;
        .byline {
          align-items: center;
          justify-content: flex-start;

        }
      }

    }
    .item-content{
      padding: 60px;
      @media(min-width: 576px) and (max-width: 1199px){
        padding: 40px;
      }
      @media(max-width: 575px){
        padding: 30px;
      }
      .entry-date{
        color: $colorMain;
      }
      .share{
        color: $colorMain;
      }
    }
  }

}