/*
** Special Heading
*/
.special-heading {
  word-wrap: break-word;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  display: inline-block;
  width: 100%;
  @media(max-width: 575px){
    text-align: center;
  }

  &.sub-title{
    font-size: 12px;
    letter-spacing: 6px;
    margin-bottom: 25px;
    line-height: 1;
    @media(max-width: 768px){
      margin-bottom: 20px;
    }
    @media(max-width: 575px){
      margin-bottom: 15px;
      letter-spacing: 3px;
      text-align: center;
    }
  }
  .thin{
    font-weight: 300;
  }
  &.text-lowercase {
    font-size: 62px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.1;
  }
  &.big,
  &.text-uppercase {

  }
  &.big {
    margin-top: 0.65em;
    margin-bottom: 0.65em;
  }





  &.text-center + p {
    text-align: center;
  }

  h3.small & {
    line-height: 1;
    font-size: 38px;
  }

}

h3.small {
  font-size: 20px;
  margin-bottom: 36px;
}
