/*
** WordPress Page Links and Pagination
*/
.page-item,
.nav-links,
.page-links {
  clear: both;
  & > span,
  & > a {
    border: 3px solid $fontColor !important;
    border-radius: 0 !important;
    color: $fontColor !important;
    background-color: $lightColor !important;
    display: inline-block;
    margin-right: 1px;
    margin-left: 0;
    padding: 0.4em 1.2em;
    min-width: 3em;
    text-align: center;
    line-height: inherit;
    letter-spacing: 0;
    @media(max-width: 575px){
      padding: 0.4em 0.8em;
    }
    &.prev, &.next{
      border-color: $darkColor !important;
      color: $darkColor !important;
    }
    &:hover {
      border-color: $darkColor;
      color: $darkColor;
    }
  }
  &.active > a,
  & > span {
    border-color: $darkColor;
    color: $darkColor;
  }
  .fa {
    font-size: 10px;
  }
}
.page-item{
    &.active{
      a{
        border-color: $darkColor !important;
        color: $darkColor !important;
      }
    }
    &.disabled, &.next{
      a{
        border-color: $darkColor !important;
        color: $darkColor !important;
      }

    }

}

//page and comments links smaller
.comments-pagination,
.page-links {
  .page-numbers,
  & > span,
  a {
    //min-width: 2em;
  }
}

.page-links a:first-child {
  margin-left: 1em;
}

//blog styles
.pagination {
  margin-top: 60px;
  justify-content: center;
  @media(max-width: 575px){
    margin-top: 30px;
  }
}

//blog post
.post-nav {
  margin: 60px 0 0;
  position: relative;
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: 50%;
      height: auto;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      position: relative;
      padding: 30px 40px;
      text-align: right;

      transition: 0.2s opacity ease;
      &:hover {
        opacity: 0.9;
      }
      @media(max-width: 575px) {
        width: 100%;
      }
      .fa {
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &:first-child {
        text-align: left;
        .fa {
          right: auto;
          left: 0;
        }
      }
    }
    .nav-subtitle {
      @include small-text();
      text-align: center;
      min-width: 8em;
      padding: 0.25em 0.8em 0.05em;
      display: inline-block;
    }
    .nav-title {
      display: block;
    }

    a {
      @include cover();

    }
  }
  //for .cover-image
  .post-nav-image {
    display: none;
  }
  .cover-image {
    .post-nav-text-wrap {
      text-align: center;
    }
  }
}