/*.widget_post_tabs*/

.widget_post_tabs {
  h4:first-child {
    font-weight: 500;
    text-transform: none;
    line-height: 1;
    margin-top: -2em;
    margin-bottom: 0.3em;
    font-size: 16px;
  }
  .vertical-item {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
