/*
widget_search,
widget_mailchimp
widget_product_search
*/

.widget_search,
.widget_product_search,
.widget_mailchimp {
  form {
    position: relative;
    max-width: 370px;
    margin: 0 auto;
  }
  label {
    margin: 0;
    padding: 0;
    display: inline;
  }
  input {
    width: 100%;
    max-width: 370px;
    border-right: 3px solid $colorMain;
  }
}
@media(min-width: 768px){
  .page_footer{
    .widget_mailchimp{
      padding-bottom: 70px;
    }
    input{
      border: none;
    }
    .search-submit{
      bottom: -70px;
      top: auto;

      right: 50%;
      transform: translateX(50%);
      padding: 0 0 5px 0;
      text-align:  center;
      text-indent: 13px;
      color: $colorMain;
      &:after{
        content: '';
        height: 3px;
        width: calc( 100% - 22px );
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: -3px;
        background: $colorMain;
        transition: 0.3s ease;
      }
      &:hover{
        opacity: 1;
        &:after{
          height: 13px;
        }
      }
      &:before{
        display: none;
      }
      .screen-reader-text{
        position: relative !important;
      }
    }
  }
}


//buttons and icons inside a form to the right
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"],
.widget_product_search form:before {
  text-align: center;

  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  opacity: 1;
  margin-top: 0;
  padding: 14px 10px;
}

.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"] {
  min-width: auto;
  &:hover {
    opacity: 0.5;
  }
}

//icons for buttons
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form {
  &:before {
    color: $colorMain;
    font-size: 14px;
    content: "\f002";
     font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
  }
}

.widget_mailchimp form button:before {
  content: "\f002";
  font-weight: 900;
  font-family: "Font Awesome 5 Free", sans-serif;
}

.widget_product_search {
  form:before {
    line-height: 35px;
  }
  input[type="submit"] {
    color: transparent;
    font-size: 0;
  }
}